<% content_for :jquery do %>
<% end %>

<% content_for :stylesheets do %>
  <style>
    .list-header a{text-decoration:none;}
    .list-li{border-bottom:1px solid #E6E6E6;}
    .recommend-photo{text-align:center;}
    .recommend-desc{overflow:hidden;height:220px;}
    .list-show-link,.list-hide-link{display:block;text-align:right;}
  </style>
<% end %>


<div class="row">
  <div class="span9">

    <ul class="unstyled">
      <% @recommends.each do |recommend| %>
        <li class="list-li" id="recommend-<%=recommend.id%>">
        <div class="list-header">
          <h4><%=link_to recommend.title,url(:recommend,:show,:id=>recommend.id),:target=>"_blank"%><span class="orange"><%=recommend.sub_title%></span></h4>
          <p><span><%=format_time_with_hour(recommend.created_at)%></span>
            <%if recommend.user_name.present?%>
              <span class="fr"><span class="orange"><%=recommend.user_name%></span>推荐</span>
            <%end%>
          </p>
        </div>
        <div class="list-body">
          <div class="recommend-photo fl">
            <a href="<%=url(:recommend,:show,:id=>recommend.id)%>" target="_blank">
              <% photo=recommend.photos.recommend_main.first %>
              <% if photo.present?%>
                <% photo_width= photo.width_big.present? ? "#{photo.width_big}px" : "780px" %>
                <%= image_tag( photo.file.url(:small),:width=>"180px",:backup_src=>photo.file.url(:big),:backup_width=>photo_width,:recommend_id=>recommend.id) %>
              <%end%>
            </a>
            <br />
            <%= link_to "购物直达",recommend.store_url,:target=>"_blank",:class=>"btn btn-info mt-10"%>
          </div>

          <div class="recommend-desc">
            <%=recommend.desc_text%>
          </div>

          <div>
            <a href="#" class="list-show-link" >展开阅读</a>
          </div>
        </div>

        <div class="list-footer">
          <% tag_array = tag_array_from_string(recommend.tags) %>
          <% if tag_array.present? %>
            <ul class="inline">
              标签:
              <%tag_array.each do |tag|%>
                <li class="label label-info"><%=tag%></li>
              <%end%>
            </ul>
          <% end %>
        </div>
        </li>
      <% end %>
    </ul>


    <%= (will_paginate @recommends).to_s.html_safe %>

  </div>


  <div class="span3">
    <div class="block">
      <% block = get_one_free_block("home_right_top")%>
      <%if block.present?%>
        <%=block.content.html_safe%>
      <%else%>
        <h3>欢迎访问</h3>
      <%end%>
    </div>
  </div>
</div>
