<% content_for :jquery do %>
<% end %>

<% content_for :stylesheets do %>
  <style>
    .span9{background-color:#fff;}
    .recommend-show{margin:10px;}
    .avatar-div{align:center;}
  </style>
<% end %>

<div class="row">
  <div class="span9">
    <div class="recommend-show">
      <h4><%=@recommend.title%><span class="orange"><%=@recommend.sub_title%></span></h4>
      <div>
        <% tag_array = tag_array_from_string(@recommend.tags) %>
        <% if tag_array.present? %>
          <ul class="inline">
            标签:
            <%tag_array.each do |tag|%>
              <li class="label label-info"><%=tag%></li>
            <%end%>
          </ul>
        <% end %>
      </div>

      <div>
        <%=@recommend.description.html_safe%>
      </div>

      <%if admin?%>
        <div>
          <h4>管理选项</h4>
          <%=link_to "编辑",Store::Manage.url(:recommend,:edit,:id=>@recommend.id),:class=>"btn" %>
        </div>
      <%end%>

    </div>

    <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread" data-thread-key="recommend_<%=@recommend.id%>" data-title="<%=@recommend.title%>"></div>
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"helloqidi"};
(function() {
 var ds = document.createElement('script');
 ds.type = 'text/javascript';ds.async = true;
 ds.src = 'http://static.duoshuo.com/embed.js';
 ds.charset = 'UTF-8';
 (document.getElementsByTagName('head')[0] 
  || document.getElementsByTagName('body')[0]).appendChild(ds);
 })();
</script>
<!-- Duoshuo Comment END -->

  </div>


  <div class="span3">
    <a href="<%=@recommend.store_url%>" class="btn btn-large btn-primary mt-10 mb-10" target="_blank">
      <i class="icon-shopping-cart icon-white"></i>购物直达
    </a>

    <%if @recommend.user_name.present?%>
      <h4>推荐人：<span class="orange"><%=@recommend.user_name%></span></h4>
    <%end%>

    <div class="block">
      <% block = get_one_free_block("show_page_right_top")%>
      <%if block.present?%>
        <%=block.content_text.present? ? block.content_text.html_safe : block.content.html_safe%>
      <%else%>
        <h3>欢迎访问</h3>
      <%end%>
    </div>
  </div>

</div>
