<% content_for :jquery do %>
  store.validateProfileForm();
<% end %>


<div>
  <% form_for current_user, url(:account, :update_profile, :id => current_user.id), :method => :put,  :multipart => true,:class=>"form-signin",:id=>"profile-form" do |f| %>
    <h2 class="form-signin-heading mb-10">修改个人资料</h2>
    <%= f.text_field :name,:class=>"input-large",:placeholder=>"昵称" %>
    <br />
    <%= image_tag(current_user.avatar.url(:big),:id=>"user-avatar") %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <br /><br />
    <%= f.submit "保存",:class=>"btn btn-large btn-primary" %>
    <a class="btn btn-large" href="javascript:history.go(-1);" >取消</a>
  <% end %>
</div>
