<% content_for :jquery do %>
  store.validateRegisterForm();
<% end %>

<div>
  <% form_for :user,url(:account,:register_create),:class=>"form-signin",:id=>"register-form" do |f| %>
    <h2 class="form-signin-heading mb-10">欢迎加入</h2>
    <%= f.text_field :email,:class=>"input-large",:placeholder=>"邮箱" %>
    <%= f.password_field :password,:class=>"input-large",:placeholder=>"密码" %>
    <%= f.password_field :password_confirmation,:class=>"input-large",:placeholder=>"确认密码" %>
    <%= f.text_field :name,:class=>"input-large",:placeholder=>"昵称" %>
    <br />
    <%= f.submit "注册",:class=>"btn btn-large btn-primary" %>
  <% end %>
</div>
