<table class="table">
  <thead>
    <tr>
      <th>商城联盟</th>
      <th>商城网址</th>
      <th>单品推广链接</th>
      <th>跟踪码</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=link_to "淘宝联盟","http://taoke.alimama.com/",:target=>"_blank"%></td>
      <td>http://www.taobao.com</td>
      <td><%=link_to "单品","http://u.alimama.com/union/spread/selfservice/taokeSearch.htm",:target=>"_blank"%></td>
      <td></td>
    </tr>
    <tr>
      <td><%=link_to "京东联盟(待审)","http://cps.jd.com/",:target=>"_blank"%></td>
      <td>http://www.jd.com</td>
      <td></td>
      <td>helloqidi-23</td>
    </tr>
    <tr>
      <td><%=link_to "亚马逊联盟","https://associates.amazon.cn",:target=>"_blank"%></td>
      <td>http://www.amazon.cn/</td>
      <td><%=link_to "单品","https://associates.amazon.cn/gp/associates/network/build-links/text/main.html",:target=>"_blank"%></td>
      <td></td>
    </tr>
    <tr>
      <td><%=link_to "苏宁易购联盟","http://union.suning.com/",:target=>"_blank"%></td>
      <td>http://www.suning.com/</td>
      <td><%=link_to "单品","http://union.suning.com/aas/user/defind/user-defind!getPage.action?selectItem=6",:target=>"_blank"%></td>
      <td></td>
    </tr>
    <tr>
      <td><%=link_to "一号店联盟","http://union.yhd.com/",:target=>"_blank"%></td>
      <td>http://www.1mall.com/</td>
      <td><%=link_to "单品","http://union.yhd.com/link_make/customLink.do",:target=>"_blank"%></td>
      <td>102263752</td>
    </tr>
    <tr>
      <td><%=link_to "当当联盟(待审)","http://union.dangdang.com/",:target=>"_blank"%></td>
      <td>http://www.dangdang.com</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
