<% content_for :jquery do %>
  store.adminSelect();
<% end %>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn <%=css_active?(@css_recommend_all)%>" href="<%=url(:recommend,:list)%>">全部</a>
    <a class="btn <%=css_active?(@css_recommend_published)%>" href="<%=url(:recommend,:list,:type=>"published")%>">已发布</a>
    <a class="btn <%=css_active?(@css_recommend_draft)%>" href="<%=url(:recommend,:list,:type=>"draft")%>">未发布</a>
    <a class="btn <%=css_active?(@css_recommend_exp)%>" href="<%=url(:recommend,:list,:type=>"exp")%>">经验</a>
  </div>
</div>

<div class="sub_operation">
  <div class="">
    选择：
    <a href="#" id="select_all">全选 </a>
    ｜
    <a href="#" id="select_un">反选 </a>
    ｜
    <a href="#" id="select_cancel">取消 </a>

    <a href="<%=url(:recommend,:publish)%>" class="select_post btn btn-primary ml-10">发布</a>

  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>标题</th>
      <th>来源</th>
      <th>类别</th>
      <th>创建时间</th>
      <th>发布</th>
      <th>设为经验</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>
  </thead>
  <tbody>
    <% @recommends.each_with_index do |recommend,index| %>
      <tr id="recommend-<%=recommend.id%>">
        <td><%= check_box_tag "recommend[ids][]",:value=>recommend.id %></td>
        <td><%= link_to recommend.title,Store::App.url(:recommend,:show,:id=>recommend.id),:target=>"_blank" %></td>
        <td><%= recommend.store_name%></td>
        <td><%= recommend.category.name%></td>
        <td><%= format_time(recommend.created_at)%></td>
        <td class="recommend-operate">
          <%if recommend.published?%>
            无
          <%else%>
            <%= link_to "发布",url(:recommend,:set_publish,:id=>recommend.id),:method=>:put,:remote=>true,:class=>"btn btn-primary"%>
          <%end%>
        </td>
        <td class="recommend-operate-exp">
          <%if recommend.exp? == false && recommend.published?%>
            <%= link_to "经验",url(:recommend,:set_exp,:id=>recommend.id),:method=>:put,:remote=>true,:class=>"btn btn-primary"%>
          <%else%>
            无
          <%end%>
        </td>
        <td><%= link_to "编辑", url(:recommend,:edit,:id=>recommend.id)%></td>
        <td><%= link_to "删除",url(:recommend,:delete,:id=>recommend.id),:method=>:delete,:remote=>true,:confirm=>"删除后将不能恢复，真要删除吗？" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= (will_paginate @recommends).to_s.html_safe %>
<p>
<%= link_to "创建",url(:recommend,:new) %>
</p>
