<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= @title ? "#{@title} - #{Settings[:site_title]}": Settings[:site_title] %></title>
    <meta name="keywords" content="<%= @keywords || Settings[:site_keywords]%>" />
    <meta name="description" content="<%= @description || Settings[:site_description] %>">
    <meta name="author" content="HelloQidi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <%= partial "meta_css",commonviews%>

    <%= yield_content :stylesheets %>

  </head>
  <body>

    <%= partial "base/header"%>

    <div class="container">
      <div class="alert alert-block fade in hide" id="alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong></strong>
      </div>


      <%= yield %>


      <%= partial "base/footer" %>

      <%= partial "meta_javascript",commonviews %>
      <%= yield_content :javascripts %>

      <script type="text/javascript">
        $(function(){
            store.initial();
            <%= yield_content :jquery %>
            });
          </script>
          <%= partial "baidu_tongji",commonviews%>

          <%= partial "flash",commonviews %>
        </div>
      </body>
    </html>
